<h1>Listing Treatments</h1>


<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Case Number</strong></td>
      <td><strong>Patient Name</strong></td>
      <td><strong>Insurance</strong></td>
    </tr>
    <% @treatments.each do |treatment| %>
      <tr>

        <td><%= treatment.name %></td>
        <td><%= treatment.insurance %></td>
        <% if current_doctor.admin %>
          <td><%= link_to "Show #{treatment.name}", treatment_path(treatment) %></td>
        <% else %>
          <td><%= link_to "Go on #{treatment.name}", treatment_path(treatment) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @doctor %>
  <p>
    <%= link_to "Back to profile", doctor_path(@doctor), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New treatment', new_treatment_path %></p>
<% end %>
