
<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Patient Name:</strong> <%= @treatment.name %></p>
    <p><strong>Doctor Name:</strong> <%= @treatment.doctor.name %></p>
    <p><strong>Case Number:</strong> <%= @treatment.casenum %> inches</p>
    <p><strong>Insurance Info:</strong> <%= @treatment.insurance %></p>
    <p><strong>Treatment Plan:</strong> <%= @treatment.treatmentplan %></p>
    <% if current_doctor.admin %>
      <%= link_to 'Edit Treatment', [:edit, @treatment] %></p>
    <% else %>
      <%= form_for @patient do |f| %>
        <%= f.hidden_field :doctor_id %><br />
        <%= f.hidden_field :treatment_id %><br />
        <%= f.submit "Approve this patient", class:"btn btn-light" %>
      <% end %>
    <% end %>
  </div>

</div>
