
<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Patient Name:</strong> <%= @case.name %></p>
    <p><strong>Doctor Name:</strong> <%= @case.doctor.name %></p>
    <p><strong>Case Number:</strong> <%= @case.casenum %> inches</p>
    <p><strong>Insurance Info:</strong> <%= @case.insurance %></p>
    <p><strong>Treatment Plan:</strong> <%= @case.treatmentplan %></p>
    <% if current_doctor.admin %>
      <%= link_to 'Edit Case', [:edit, @case] %></p>
    <% else %>
      <%= form_for @patient do |f| %>
        <%= f.hidden_field :patient_id %><br />
        <%= f.hidden_field :case_id %><br />
        <%= f.submit "Approve this patient", class:"btn btn-light" %>
      <% end %>
    <% end %>
  </div>

</div>
